
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="A customizable grade calculator for students from middle school to college">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "calculator/js/calculator.js" %}"></script>
	<link rel="stylesheet" href="{% static "calculator/css/calculator.css" %}" />
</head>
<body>
<h1>look at this calculator</h1>
<br>
<form id="grade-entry">
    <label for="class-name">Class Name</label>
    <input type="text" name="classname" id="class-name"><br><br>
    <table id="grade-table">
        <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Assignment Weight</th>
            <th>Assignment Grade</th>
        </tr>
        </thead>
        <tbody>
            <tr class="assignment-row">
                <td><input type="text" class="assignment-name" id="assignment-name-1"></td>
                <td><input type="text" class="assignment-weight" id="assignment-weight-1"></td>
                <td><input type="text" class="assignment-grade" id="assignment-grade-1"></td>
            </tr>
        </tbody>
    </table>
</form>
<input type="button" name="new-assignment" id="new-assignment" value="Add Assignment">
<input type="button" name="recalculate" id="recalculate-button" value="Recalculate">
<br>
<h1>Your Current Grade Is <div id="current-grade">0.0</div></h1>
<hr>
<div class="grade_ranges"> 
	<h1>90</h1> 
	<span id="grade_range_90"></span>
</div>
<hr>
<div class="grade_ranges"> 
	<h1>80</h1> 
	<span id="grade_range_80"></span>
</div>
<hr>
<div class="grade_ranges"> 
	<h1>70</h1> 
	<span id="grade_range_70"></span>
</div>
</body>
</html>
